<!DOCTYPE html>
<html lang="en">
<head>
    <title>Password Prompt</title>
    <style>
    </style>
</head>
<body>
    <h1>Password Prompt</h1>
    <div class="container">
        <form id="passwordForm">
          <label>Enter Password To Proceed</label>
          <br/>
          <br/>
          <input type="text" name="password" required />
          <br/>
          <br/>
          <button type="submit">Submit Password</button>
        </form>
    </div>
</body>
<script>
    const form = document.getElementById("passwordForm");
    form.addEventListener("submit", async (a) => {
        a.preventDefault();
        const password = form.elements["password"];
        try {
            const res = await fetch(domainUrl + "/" + shortCode, { // Get short code to python
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    password: password.value,
                })
            });
            if(!res.ok){
                try{
                backendData = await res.json();
                }
                catch{
                    backendData = {};
                }
                throw new Error(backendData.error || `HTTP error ${res.status}`);
            }
        }
        catch(err){
            console.error("Error: ", err.message)
        }
    }
    });
</script>
</html>
